[project]
name = "python"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "colorama>=0.4.6",
    "datetime>=5.5",
    "pyarrow>=22.0.0",
    "pyperclip>=1.11.0",
    "ruff>=0.14.3",
]
